<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>
    <div id="container">
        <p>User ID: {{ user_id }}</p>
        <p>File ID: {{ file_id }}</p>
    </div>
</body>
</html>
<script src="/static/js/jquery/jquery.js"></script>
<style>
    #container {
        margin-top: 100px;
        width: 100%;
        text-align: center;
    }

    #submit_button{
        background-color: dodgerblue;
        border-color: dodgerblue;
        color: white;
        font-size: 16px;
    }

    #review {
        width: 50%;
        font-size: 16px;
    }

    #result {
        font-weight: bold;
        font-size: 20px;
    }

</style>