<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>
    <div id="container">
        <h1 style="color: #017ebc">Welcome</h1>
        <button type="button" id="submit_button">Get Data</button>
        <p>User ID: <span id="user_id"></span></p>
        <p>File ID: <span id="file_id"></span></p>
    </div>
</body>
</html>
<script src="/static/js/jquery/jquery.js"></script>
<script>
    $('#submit_button').click(function (){
        $.post('/api/get_data/',
            function (result) {
                {#if (result === 'Positive'){#}
                {#    document.getElementById('result').style.color = 'crimson'#}
                {# else {#}
                {#    document.getElementById('result').style.color = 'black'#}
                {##}
                document.getElementById('user_id').innerHTML = result.user_id;
                document.getElementById('file_id').innerHTML = result.file_id;
        })
    })

</script>
<style>
    #container {
        margin-top: 100px;
        width: 100%;
        text-align: center;
    }

    #submit_button{
        background-color: dodgerblue;
        border-color: dodgerblue;
        color: white;
        font-size: 16px;
    }

    #review {
        width: 50%;
        font-size: 16px;
    }

    #result {
        font-weight: bold;
        font-size: 20px;
    }

</style>